a {
    text-decoration: none;
    display: inline-block;
}

.subtitle {

    &__head {
        font-weight: 800;
        font-size: 40px;

        span {
            font-weight: 100;
        }
    }

}

.headline-left {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    opacity: 0.5;
    position: relative;
    padding-left: 103px;
    display: inline-block;

    &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #FFFFFF;
        opacity: 0.5;
        top: 50%;
        left: 0;
    }
}

.slider__info-title {
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
    margin-bottom: 48px;
}

$green: #4AF6CD;
$black: #171919;

.title {

    span {
        position: relative;
        color: rgba(#fff, .02);
        font-weight: 800;
        font-size: 200px;
        transform: translateX(-50px);
        display: inline-block;
    }

    h3 {
        font-size: 80px;
        position: absolute;
        right: 0;
        top: 0;


        &::before {
            content: '';
            width: 80px;
            height: 1px;
            background-color: $green;
            position: absolute;
            right: 0;
            right: 0;
        }
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 4;
}

.slider-arrows__left {
    right: 125px;
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    text-transform: uppercase;


    span {
        padding: 17px 57px 15px 17px;
        background-color: $green;
        display: inline-block;
        margin-left: 19px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            left: -12px;
            top: 50%;
        }

        &::after {
            content: '';
            background: url(../../img/arrow-right.svg);
            position: absolute;
            width: 25px;
            height: 21px;
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
        }
    }
}