@import "reset";
@import "variable";
@import "header";

.header {
    position: relative;
    height: 100vh;

    .header__aside {
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
        max-width: 168px;
        border-right: 1px solid #979797;
        height: 100vh;

        .menu {
            padding-top: 10px;

            .menu__list {
                .menu__list-item {
                    text-align: center;

                    span {
                        margin-top: 6px;
                        display: block;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        letter-spacing: 3px;
                        color: #ffffff;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .header__search {
            margin-top: 17px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .header__date {
            margin-top: 17px;
            font-weight: 800;
            font-size: 72px;
            line-height: 64px;
            text-transform: uppercase;
            color: #ffffff;
            text-align: center;

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 1.4px;
                color: #ffffff;
            }
        }

        .header__location {
            margin-top: 17px;
            display: flex;
            justify-content: center;

            .header__location-text {
                font-weight: 300;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 1.05px;
                text-transform: capitalize;
            }
        }
    }

    .header__map {
        position: absolute;
        z-index: 3;
        right: 0;
        top: 0;

        .line-animation {
            stroke-dashoffset: 600;
            stroke-dasharray: 600;
            animation: anim-line 5s infinite 6s;
        }

        @keyframes anim-line {
            to {
                stroke-dashoffset: 0;
            }
        }
    }

    .header__arrows {
        position: absolute;
        z-index: 5;
        left: 209px;
        bottom: 41px;
    }

    .header__title {
        font-weight: 800;
        font-size: 200px;
        line-height: 156px;
        opacity: 0.07;
        max-width: 467px;
        position: absolute;
        z-index: 4;
        top: 0;
        left: 0;
    }

    .header__slider {
        &-item {
            height: 100vh;
            background: url(../../img/bg_1.jpg) no-repeat center top/cover;
            position: relative;

            .slider-item__info {
                position: absolute;
                right: 88px;
                bottom: 116px;
                text-align: right;

                .slider__info-subtitle {
                    margin-bottom: 5px;
                }

                .slider__info-suptext {
                    margin-bottom: 8px;
                }

                .slider__info-text {
                    font-weight: 800;
                    font-size: 40px;
                    line-height: 50px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .slider-dots {
        position: absolute;
        right: 60px;
        bottom: 40px;
        max-width: 920px;
        width: 100%;

        .slider-dots__item {
            .dots-box {
                width: 200px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 4px solid #fff;
                padding-top: 6px;

                .dots-box__number {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 34px;
                }

                .dots-box__name {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    text-transform: capitalize;
                }
            }
        }

        .slick-current {
            .dots-box {
                border-top: 4px solid $green;
            }
        }
    }
}

.surf {
    padding: 157px 0 120px 0;
    background-image: url(../../img/surf-bg.png);
    background-repeat: no-repeat;
    background-position: right 170px;
    background-size: auto;

    .surf__subtitle {
        text-align: right;
        padding-right: 80px;
        margin-top: -86px;
    }

    .surf-slider {
        padding-top: 110px;

        .slider-arrows {
            top: 50px;
            opacity: 0.25;
        }

        .serf-box {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

            &__inner {
                min-height: 750px;
                background: rgba(#1c2121, 0.85);
                position: relative;
                transition: 0.3s;

                &:hover {
                    background: rgba(#1c2121, 0.3);

                    .btn-box__inner-btn {
                        display: block;
                    }
                }
            }
        }

        .serf-box:nth-child(4n + 1) {
            margin-top: 32px;
        }

        .serf-box:nth-child(4n + 3) {
            margin-top: 89px;
        }

        .slick-current {
            .btn-box__inner-btn {
                display: block;
            }

            .serf-box__inner {
                background: rgba(#1c2121, 0.3);

            }

        }
    }
}

.serf-box__inner-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    padding: 72px 0 0 40px;
    width: 140px;
}

.serf-box__inner-location {
    letter-spacing: 8px;
    font-size: 18px;
    line-height: 22px;
    transform: rotate(-90deg);
    position: absolute;
    left: 40px;
    bottom: 80px;
    width: 0;
    height: 0;
    white-space: nowrap;

    span {
        font-weight: 100;
    }
}

.btn-box__inner-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
}