html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Fira Sans', sans-serif;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #171919;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.subtitle__head {
  font-weight: 800;
  font-size: 40px;
}

.subtitle__head span {
  font-weight: 100;
}

.headline-left {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  opacity: 0.5;
  position: relative;
  padding-left: 103px;
  display: inline-block;
}

.headline-left:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #FFFFFF;
  opacity: 0.5;
  top: 50%;
  left: 0;
}

.slider__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.title span {
  position: relative;
  color: rgba(255, 255, 255, 0.02);
  font-weight: 800;
  font-size: 200px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  display: inline-block;
}

.title h3 {
  font-size: 80px;
  position: absolute;
  right: 0;
  top: 0;
}

.title h3::before {
  content: '';
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
  position: absolute;
  right: 0;
  right: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
}

.btn span {
  padding: 17px 57px 15px 17px;
  background-color: #4AF6CD;
  display: inline-block;
  margin-left: 19px;
  position: relative;
}

.btn span::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #fff;
  left: -12px;
  top: 50%;
}

.btn span::after {
  content: '';
  background: url(../../img/arrow-right.svg);
  position: absolute;
  width: 25px;
  height: 21px;
  top: 50%;
  right: 17px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  position: relative;
  height: 100vh;
}

.header .header__aside {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  max-width: 168px;
  border-right: 1px solid #979797;
  height: 100vh;
}

.header .header__aside .menu {
  padding-top: 10px;
}

.header .header__aside .menu .menu__list .menu__list-item {
  text-align: center;
}

.header .header__aside .menu .menu__list .menu__list-item span {
  margin-top: 6px;
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3px;
  color: #ffffff;
  text-transform: capitalize;
}

.header .header__aside .header__search {
  margin-top: 17px;
}

.header .header__aside .header__search img {
  display: block;
  margin: 0 auto;
}

.header .header__aside .header__date {
  margin-top: 17px;
  font-weight: 800;
  font-size: 72px;
  line-height: 64px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.header .header__aside .header__date p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.header .header__aside .header__location {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__aside .header__location .header__location-text {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  text-transform: capitalize;
}

.header .header__map {
  position: absolute;
  z-index: 3;
  right: 0;
  top: 0;
}

.header .header__map .line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  -webkit-animation: anim-line 5s infinite 6s;
          animation: anim-line 5s infinite 6s;
}

@-webkit-keyframes anim-line {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes anim-line {
  to {
    stroke-dashoffset: 0;
  }
}

.header .header__arrows {
  position: absolute;
  z-index: 5;
  left: 209px;
  bottom: 41px;
}

.header .header__title {
  font-weight: 800;
  font-size: 200px;
  line-height: 156px;
  opacity: 0.07;
  max-width: 467px;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
}

.header .header__slider-item {
  height: 100vh;
  background: url(../../img/bg_1.jpg) no-repeat center top/cover;
  position: relative;
}

.header .header__slider-item .slider-item__info {
  position: absolute;
  right: 88px;
  bottom: 116px;
  text-align: right;
}

.header .header__slider-item .slider-item__info .slider__info-subtitle {
  margin-bottom: 5px;
}

.header .header__slider-item .slider-item__info .slider__info-suptext {
  margin-bottom: 8px;
}

.header .header__slider-item .slider-item__info .slider__info-text {
  font-weight: 800;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}

.header .slider-dots {
  position: absolute;
  right: 60px;
  bottom: 40px;
  max-width: 920px;
  width: 100%;
}

.header .slider-dots .slider-dots__item .dots-box {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
}

.header .slider-dots .slider-dots__item .dots-box .dots-box__number {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

.header .slider-dots .slider-dots__item .dots-box .dots-box__name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
}

.header .slider-dots .slick-current .dots-box {
  border-top: 4px solid #4AF6CD;
}

.surf {
  padding: 157px 0 120px 0;
  background-image: url(../../img/surf-bg.png);
  background-repeat: no-repeat;
  background-position: right 170px;
  background-size: auto;
}

.surf .surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

.surf .surf-slider {
  padding-top: 110px;
}

.surf .surf-slider .slider-arrows {
  top: 50px;
  opacity: 0.25;
}

.surf .surf-slider .serf-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.surf .surf-slider .serf-box__inner {
  min-height: 750px;
  background: rgba(28, 33, 33, 0.85);
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.surf .surf-slider .serf-box__inner:hover {
  background: rgba(28, 33, 33, 0.3);
}

.surf .surf-slider .serf-box__inner:hover .btn-box__inner-btn {
  display: block;
}

.surf .surf-slider .serf-box:nth-child(4n + 1) {
  margin-top: 32px;
}

.surf .surf-slider .serf-box:nth-child(4n + 3) {
  margin-top: 89px;
}

.surf .surf-slider .slick-current .btn-box__inner-btn {
  display: block;
}

.surf .surf-slider .slick-current .serf-box__inner {
  background: rgba(28, 33, 33, 0.3);
}

.serf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.serf-box__inner-location {
  letter-spacing: 8px;
  font-size: 18px;
  line-height: 22px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
}

.serf-box__inner-location span {
  font-weight: 100;
}

.btn-box__inner-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}
/*# sourceMappingURL=main.css.map */